<!DOCTYPE html>
<!--
Python Coding Bootcamp (pdxcodeguild)
Program exercise file templates/flutter_twitterclone/index.html
by Matthew James K on 5/19/2016

Checked Practice: Flutter
Let's make a mini Twitter clone called Flutter where people post Flutts.

/ shows the last 10 Flutts.
/q?=QUERY shows the last 10 Flutts containing QUERY text.
/post is a form to submit a Flutts. There is "user name" and "text".
/post/submit is the ack page. A new Flutt is given the timestamp of the acknowledgement.
/USER_NAME shows the last 10 Flutts by a user.

Advanced:
Use the Django user auth system to provide:

A login page at /login.
Only let logged-in users post Flutts.
Instead of storing "user name" store "user ID" with each Flutt.
Automatically fill in the user ID of the person logged in when posting a Flutt.
Change the /USER_NAME route to a /USER_ID route with the same functionality.    
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Top ten latest fluts</h1>
    </header>
    <ul>
        {% for flut_entry in found_fluts %}
		<li>
            <blockquote>User: {{ flut_entry.user_author__user.user }}, Flut or Post: {{ flut_entry.text }}, Time stamp: {{ flut_entry.timestamp }}</blockquote>
        </li>
        {% endfor %}
    </ul>
    <blockquote>
        <form action="{% url 'home' %}" method="get">
            <label for="q">Enter flut to search:<input type="text" name="q" /></label>
            <input type="submit" name="Search_Fluts" value="SEARCH"/>
        </form>
    </blockquote>
	<blockquote>
        <form action="{% url 'posts_by_user' %}" method="get">
            <label for="search_by_user">Enter user to get their fluts:<input type="text" name="search_by_user" /></label>
            <input type="submit" name="Search_by_User" value="SEARCH"/>
        </form>
    </blockquote>
    <blockquote>
        <form action="{% url 'add_flut' %}" method="post">
			{% csrf_token %}
            <label for="post_flut">Enter user name:<input type="text" name="user_name" /></label>
			<label for="post_flut">Enter flut text:<input type="text" name="flut_text" /></label>
            <input type="submit" name="Submit" value="SUBMIT"/>
        </form>
    </blockquote>
</body>
</html>
