/*
    Python Coding Bootcamp (pdxcodeguild)
    Program exercise file no_jokes_here_only_dry/style.css
    by Matthew James K on 5/12/2016
*/
body
{
    margin: 0;
    max-width: 50%;
}

.width {
    max-width: 50%;
}

input[type=text] {
    min-width: 50%;
}

div {
    -ms-align-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;

    align-content: stretch;
    display: flex;
    flex-direction: column;
    margin: 10px;
}