<!DOCTYPE html>
<!--
    Python Coding Bootcamp (pdxcodeguild)
    Program exercise file templates/no_jokes_here_only_dry/ajax_index.html
    by Matthew James K on 5/12/2016

Practice: Jokes -
    Save your solution as jokes.
    Have a page to submit jokes via a form. A joke has a "setup" and a "punchline" input. Submitted
    jokes should be saved in a global array in your logic module.
    Have a listing page where jokes are shown. Hide the punch lines until someone clicks on the setup.
Advanced:
    Use AJAX to submit your jokes.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Comment Form - Submitted!</title>
    <link rel="stylesheet" href="{% static 'no_jokes_here_only_dry/style.css' %}" />
</head>
<body>
    <h1>Your joke was submitted!</h1>
    <a href="{% url 'index' %}">Back to List</a>
    <blockquote>{{ story_setup }}</blockquote>
    <blockquote>{{ punch_line }}</blockquote>

</body>
</html>
