<!DOCTYPE html>
<!--
Python Coding Bootcamp (pdxcodeguild)
Program exercise file templates/no_jokes_here_only_dry/ajax_index.html
by: Matthew James K on 5/12/2016

Practice: Jokes
Save your solution as jokes.
Have a page to submit jokes via a form. A joke has a 'setup' and a 'punchline' input.
Submitted jokes should be saved in a global array in your logic module.
Have a listing page where jokes are shown. Hide the punch lines until someone clicks on the setup.

Advanced:
Use AJAX to submit your jokes.
-->
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'no_jokes_here_only_dry/style.css' %}" />
</head>
<body>
    <section class="width">
        <header>
            <h1>{{ title }}</h1>
            <h3>For this day: {{ time }}</h3>
        </header>
    </section>
    <section>
        <form>
            <!--{% csrf_token %}-->
            <section>
                <span>Joke setup story:</span><input type="text" id="setup_story" />
            </section>
            <section>
                <span>Joke punch line :</span><input type="text" id="punch_line" />
            </section>
            <input type="submit" value="SUBMIT" id="ajax_submit"/>
        </form>
        <div>
            Selectable Joke setup stories:
            <select multiple="multiple" id="storySetups">
                {% for story_setup in story_setups_data %}
                <!-- Show the story setup part of the joke here. -->
                <option>{{ story_setup }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
			Click a story setup to see these punch lines:
            <select multiple="multiple" id="punchLines" hidden="hidden">
                {% for punch_line in punch_lines_data %}
                <!-- Show the hidden punch line part of the joke here. -->
                <option>{{ punch_line }}</option>
                {% endfor %}
            </select>
        </div>
    </section>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="{% static 'no_jokes_here_only_dry/ajax_form_submit.js' %}"></script>
</body>
</html>
