body {
  margin: 0 auto;
}

div {
  border: solid red thin;
  margin: 10px;
}

.parent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px;
  min-height: 98px;
}

.top {
  width: 100%;
  border: solid orange thin;
}

.mid1 {
    flex-grow: 4;
    border: solid orange thin;
}

.mid2 {
  flex-grow: 1;
  margin-left: 0;
  border: solid orange thin;
}

.bottom {
  flex-grow: 1;
  max-width: 20%;
  border: solid orange thin;
}