body {
    background : #42A4F5;
}
p {
    color : white;
}

.p {
    color : white;
    font-style: italic;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 300px;
    height: 400px;
}

#rcorners2 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 300px;
    height: 400px;
}

.normal {
  font-style: italic;
}

ul > li:before {
    content : "☞";
    /* list-style : "☞"; */
    /* list-style: none; */
}
