html {
    /*Let's have the body be layed out using flexbox.*/
    display: flex;
    /*Center the single flexbox inner item.*/
    justify-content: center;
}

body {
    /*Have the entire body be 75% of the full page width.*/
    width: 75%;
}

div.flex {
    /*Have this main container div use flexboxes to layout columns.*/
    display: flex;
}

p {
    color : white;
}

.p {
    color : white;
    font-style: italic;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 300px;
    height: 400px;
}

#rcorners2 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 300px;
    height: 400px;
}

.normal {
  font-style: italic;
}

ul > li:before {
    content : "☞";
    /* list-style : "☞"; */
    /* list-style: none; */
}
