/*
    Python Coding Bootcamp (pdxcodeguild)
    Code File for mole.css
    by: Matthew James K on 5/5/2016
*/
body {
    margin: 0 auto;
}

.row {
    display: flex;
    border: none;
    width: auto;
}

img {
    /* Set every img control to be selected for use with the flexbox display type */
    width: 200px; /*12.5em;*/ /*200px*/
    height: 150px; /*9.375em;*/ /*150px*/
    box-sizing: border-box;
}

.highlight {
    border: aqua solid 5px;
}