/*
    Python Coding Bootcamp (pdxcodeguild)
    Code File for practice_validator.css
    by: Matthew James K on 5/3/2016
*/
body {
    margin: 0 auto;
}

form {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

div {
    /* Set every div control to be selected for use with the flexbox display type */
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

section {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.btnSubmit {
    max-width: 100px;
}

.groupbox {
    border: black solid thin;
}

.txtWarning {
    background-color: #ffac00;
}

.statusCaution {
    color: #ffac00;
}

.statusError {
    color: red;
}

.statusOkay {
    color: green;
}