/* 
    Python Coding Bootcamp (pdxcodeguild)
    Code File for checked practise pyramid_desktop.css
    by: Matthew James K on 4/22/2016
    Practice: Pyramid

    Each box should be a div
    Every box has a one pixel black border
    "Row" boxes should have 20 pixels of spacing between each other and between the page edges
    "Inner" boxes should have 10 pixels of spacing between themselves and the edge of the "row" box they are in
    Each "row" box should be 100 pixels high (including border) and the full width of the page (taking into account the above spacing)
    Each "inner" box should be the full height of the row (taking into account the above spacing)
    The first "row" box contains one "inner" box that is full width
    The second "row" box contains two "inner" boxes that fill out the full width between them in a 4:1 ratio
    The third "row" box contains three "inner" boxes that have content 20% the width of the "row" box and are spread out over the entire "row" box equally horizontally
*/
body {
    margin: 0px auto;
}

div {
    border: black solid 1px;
    margin: 10px;
}

.parent_flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 20px;
    height: 100px;
    box-sizing: border-box; /* https://css-tricks.com/box-sizing/ says to remove this to default to newer CSS3 box sizing. */
}

.child_upper {
    width: 100%;
}

.child_first_mid {
    flex-grow: 4;
}

.child_second_mid {
    flex-grow: 1;
    margin-left: 0;
}

.child_lower {
    flex-grow: 1;
    max-width: 20%;
}